@use "partials/variables" as variables;
@import "partials/heroBanner";
@import "partials/header";
@import "partials/contentParagraph";
@import "partials/bulletParagraph";
@import "partials/simpleParagraph";

body {
  position: relative;
  background: variables.$white-color;
  font-family: variables.$pt-serif-font;
}

button {
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 540px) {
  body {
    max-width: 100%;
    margin: 0;
  }
}
