@use "partials/variables" as variables;
@import "partials/heroBanner";
@import "partials/header";
@import "partials/contentParagraph";
@import "partials/bulletParagraph";
@import "partials/simpleParagraph";
@import "partials/footer";

body {
  position: relative;
  background: variables.$white-color;
  font-family: variables.$pt-serif-font;
}

button {
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

ul {
  list-style-type: none;

  & li a {
    text-decoration: none;
  }
}

@media only screen and (max-width: 540px) {
  body {
    max-width: 100%;
    margin: 0;
  }
}

@media only screen and (min-width: 541px) {
  body {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: variables.$blue-color;
    max-width: 100%;
  }

  .main-container {
    max-width: 1440px;
    background-color: variables.$white-color;
  }
}
