@use "partials/variables" as variables;
@import "node_modules/reset-css/sass/reset";
@import "partials/heroBanner";
@import "partials/header";
@import "partials/contentParagraph";
@import "partials/bulletParagraph";
@import "partials/simpleParagraph";
@import "partials/footer";
@import "partials/stepWrapper";
@import "partials/form";

body {
  position: relative;
  background: variables.$bkg-secondary;
  font-family: variables.$font-primary;
}

button {
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

ul {
  list-style-type: none;

  li a {
    text-decoration: none;
  }
}

@include for_breakpoint(mobile tablet) {
  body {
    max-width: 100%;
    margin: 0;
  }
}

@include for_breakpoint(desktop) {
  body {
    margin: 0;
    @include flexContainer(row, center, center);
    background-color: variables.$bkg-primary;
    max-width: 100%;
  }

  .main-container {
    min-width: 1024px;
    max-width: 1440px;
    background-color: variables.$bkg-secondary;
  }
}
