@use "variables" as variables;
@use "extends";
@import "mixins";

.bullet-paragraph {
  p {
    @extend .p;
    height: 112px;
    color: variables.$text-secondary;
    text-align: left;
    font-family: variables.$font-primary;
    font-size: 14px;
    line-height: 22px;
    margin: 20px 0 0 0;
  }
}

.bullet-paragraph__title {
  @include flexContainer(row, left, center);
  padding: 0;
  gap: 20px;
  margin: 0;
  height: 63px;

  span {
    @extend .span;
    width: 67px;
    height: 63px;
    font-family: variables.$font-primary;
    font-weight: 400;
    font-size: 62px;
    line-height: 63px;
  }

  h3 {
    @extend .h;
    max-width: 448px;
    min-height: 28px;
    color: variables.$text-primary;
    text-align: left;
    font-family: variables.$font-primary;
  }
}

@include for_breakpoint(mobile) {
  .bullet-paragraph {
    padding: 50px 20px;

    p {
      max-width: 450px;
    }
  }

  .bullet-paragraph__title {
    max-width: 440px;

    h3 {
      font-size: 22px;
      line-height: 28px;
    }
  }
}

@include for_breakpoint(tablet) {
  .bullet-paragraph {
    padding: 50px 100px;

    p {
      height: 60px;
      max-width: 800px;
    }
  }

  .bullet-paragraph__title {
    max-width: 800px;

    h3 {
      font-size: 28px;
      line-height: 32.2px;
    }
  }
}

@include for_breakpoint(desktop) {
  .bullet-paragraphs {
    @include flexContainer(row, left, flex-start);
    padding: 0;
    max-width: 100%;
    height: 350px;
  }

  .bullet-paragraph {
    height: 270px;
    padding: 80px 60px 0;
    gap: 10px;

    p {
      max-width: 350px;
    }
  }

  .bullet-paragraph__title {
    max-width: 360px;

    h3 {
      font-size: 25px;
      line-height: 30px;
    }
  }
}
