@use "variables" as variables;

@media only screen and (max-width: 540px) {
  .paragraph-content {
    padding: 50px 20px 0 20px;

    & h4 {
      width: 119px;
      height: 17px;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 11px;
      line-height: 16px;
      letter-spacing: 1.2px;
      text-transform: uppercase;
      color: variables.$blue-color;
      margin: 0;
    }

    & h2 {
      max-width: 400px;
      max-height: 200px;
      font-family: variables.$pt-serif-font;
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 38px;
      color: variables.$grey-color;
      margin: 10px 0 25px 0;
    }

    & button {
      padding: 14px 28px;
      max-width: 199px;
      height: 46px;
      border: none;
      cursor: pointer;
      margin: 0 0 20px 0;
    }
  }

  .paragraph-content__desc {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    & hr {
      width: 15px;
      height: 60px;
      background-color: variables.$blue-color;
      margin: 0 20px 0 0;
    }

    & p {
      font-family: variables.$pt-serif-font;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: variables.$medium-grey-color;
      margin: 5px 20px 20px 0;
    }
  }

  .paragraph-content__slot-img {
    width: 100%;
    height: 300px;
    margin: 20px 0 0 0;
  }

  .icon-with-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    gap: 20px;
    max-width: 450px;
    height: 80px;

    & p {
      max-width: 230px;
      max-height: 52px;
      font-family: variables.$pt-serif-font;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: variables.$grey-color;
    }
  }

  .icon-with-text__icon {
    width: 80px;
    height: 80px;
    left: 1.56%;
    right: 1.56%;
    top: 3.12%;
    bottom: 3.12%;
    background: variables.$blue-color;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
