@use "variables" as variables;

.paragraph-content {
  span {
    font-family: variables.$font-secondary;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: variables.$span-primary;
    margin: 0;
    width: 119px;
    height: 17px;
  }

  h2 {
    font-family: variables.$font-primary;
    font-style: normal;
    font-weight: 400;
    color: variables.$text-primary;
  }

  button {
    padding: 14px 28px;
    max-width: 199px;
    height: 46px;
    margin: 0 0 20px 0;
  }
}

.paragraph-content__desc {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: variables.$text-secondary;
    margin: 0 20px 20px 30px;
    position: relative;
}

.paragraph-content__desc::before {
    content: "";
    border-left: 3px solid variables.$blue-color;
    position: absolute;
    width: 60%;
    height: 50px;
    left: -30px;
  }


.icon-with-text {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
  max-width: 450px;
  height: 80px;

  p {
    max-width: 230px;
    max-height: 52px;
    font-family: variables.$font-primary;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: variables.$text-primary;
  }
}

.icon-with-text__icon {
  width: 80px;
  height: 80px;
  left: 1.56%;
  right: 1.56%;
  top: 3.12%;
  bottom: 3.12%;
  background: variables.$bkg-primary;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 540px) {
  .paragraph-content {
    padding: 50px 20px 0 20px;

    h2 {
      max-width: 400px;
      max-height: 200px;
      font-size: 30px;
      line-height: 38px;
      margin: 10px 0 25px 0;
    }
  }

  .paragraph-content__desc {
    padding: 0 0 20px 0;
    gap: 20px;
    max-width: 400px;
  }

  .paragraph-content__slot-img {
    width: 100%;
    height: 300px;
    margin: 20px 0 0 0;
    object-fit: cover;
    object-position: top;
  }
}
@media only screen and (min-width: 541px) and (max-width: 1024px) {
  .paragraph-container {
    margin: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .paragraph-content {
    padding: 0 3%;
    h2 {
      max-width: 600px;
      max-height: 300px;
      font-size: 38px;
      line-height: 42px;
      margin: 10px 0 25px 0;
    }
  }

  .paragraph-content__desc {
    padding: 0 0 20px 0;
    gap: 20px;
    max-width: 600px;
  }

  .paragraph-content__slot-img {
    width: 80%;
    object-fit: contain;
    max-height: 400px;
    margin: 20px 0 0 0;
  }

  .icons {
    margin: 0;
    width: 100%;
    padding: 3%;
  }
}

@media only screen and (min-width: 1025px) {
  .paragraph-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: 584px;
  }

  .paragraph-content {
    padding: 0 0 0 7%;
    gap: 10px;
    max-height: 424px;
    max-width: 490px;

    h2 {
      font-size: 40px;
      line-height: 44px;
      margin: 20px;
    }
  }

  .paragraph-content__desc {
    padding: 0;
    min-height: 70px;
  }

  .paragraph-content__slot-img {
    height: 400px;
    max-width: 519px;
    padding: 0 7% 0 0;
  }

  .icons {
    min-width: 600px;
    padding: 0 0 0 120px;
  }
}
