@use "variables" as variables;
@use "extends";
@import "mixins";

.footer-up {
  @include flexContainer(column, center, center);
  max-width: 100%;
  background: variables.$bkg-tertiary;
  color: variables.$text-tertiary;
  text-transform: uppercase;

  h3 {
    @extend .h;
    font-weight: 700;
    font-size: 18px;
    line-height: 41px;
  }

  p {
    @extend .p;
    font-size: 14px;
    line-height: 19px;
  }
}

.footer-up__menu__links {
  padding: 0;
  margin: 0;

  li {
    margin: 10px 0;
    text-align: center;

    a {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      font-feature-settings: 'case' on;
      color: variables.$link-primary;
    }
  }
}

.footer-bottom {
  background: variables.$bkg-quaternary;

  p {
    @extend .p;
    font-size: 13px;
    line-height: 16px;
    text-transform: capitalize;
    font-feature-settings: 'case' on;
    color: variables.$text-tertiary;
  }
}

@include for_breakpoint(mobile) {
  .footer-up {
    padding: 30px 20px;
    gap: 20px;
    height: 290px;

    .footer-up__menu {
      & img {
        height: 46.66px;
      }
    }

    .footer-up__menu__links {
      gap: 16px;
    }
  }

  .footer-bottom {
    padding: 10px 20px;
    gap: 5px;
    height: 57px;
  }
}

@include for_breakpoint(tablet) {
  .footer-up__menu {
    padding: 30px 20px;
    gap: 20px;


    img {
      margin: 10px auto;
      display: block;
      height: 46.66px;
    }
  }
  .footer-up__menu__links {
    gap: 40px;
    @include flexContainer(row, flex-start, center);
  }

  .footer-bottom {
    @include flexContainer(row, space-between, center);
    padding: 10px 100px;
    gap: 5px;
    height: 40px;
  }

  .footer-up p {
    padding: 15px 0 30px 0;
  }
}

@include for_breakpoint(desktop) {
  .footer-up {
    padding: 50px 20px;
    height: 200px;

    p {
      padding: 30px 0 0 0;
    }
  }

  .footer-up__menu {
    @include flexContainer(row, space-between, center);
    padding: 0 0 40px 0;
    gap: 63px;
    max-width: 1030px;
  }

  .footer-up__menu__links {
    @include flexContainer(row, flex-start, center);
    gap: 40px;
  }

  .footer-bottom {
    @include flexContainer(row, space-between, center);
    padding: 10px 205px;
    gap: 5px;
    height: 40px;
  }
}
