@use "variables" as variables;

@media only screen and (max-width: 540px) {
  .hero-banner {
    position: relative;
    max-width: 100%;
    height: 700px;
    overflow: hidden;
  }

  .hero-banner__bkg-img {
    position: absolute;
    max-width: 100%;
    background-image: url('assets/images/V_redraw-without-bg-1_9.png');
    opacity: 0.2;
    width: 100%;
    height: 100%;
    background-size: cover;
    left: 0;
    z-index: 2;
  }

  .hero-banner__img {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .hero-banner__title {
    position: absolute;
    max-width: 440px;
    max-height: 200px;
    left: 20px;
    top: 90px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: variables.$white-color;
    margin: 0;
    z-index: 2;
  }

  .hero-banner__desc {
    position: absolute;
    max-width: 440px;
    max-height: 160px;
    left: 20px;
    top: 290px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: variables.$white-color;
    margin: 0;
    z-index: 2;
  }

  .rectangle-4 {
    position: absolute;
    width: 430px;
    height: 770px;
    left: 33%;
    top: -25px;
    background: variables.$blue-color;
    mix-blend-mode: multiply;
    transform: rotate(-6deg);
    z-index: 1;
  }

}

