@use "variables" as variables;

.hero-banner {
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

.hero-banner__bkg-img {
  opacity: 0.8;
  width: 100%;
  height: 100%;
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

.hero-banner__main-img {
  position: absolute;
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.hero-banner__title {
  position: absolute;
  font-style: normal;
  font-weight: 400;
  color: variables.$white-color;
  margin: 0;
  z-index: 2;
}

.hero-banner__desc {
  position: absolute;
  font-style: normal;
  font-weight: 400;
  color: variables.$white-color;
  margin: 0;
  z-index: 2;
}

.rectangle-4 {
  position: absolute;
  background: variables.$blue-color;
  mix-blend-mode: multiply;
  z-index: 1;
}

@media only screen and (max-width: 540px) {
  .hero-banner {
    height: 700px;
  }

  .hero-banner__bkg-img {
    background-image: url('assets/images/V_redraw-without-bg-1_9.png');
  }

  .hero-banner__main-img {
    background-image: url('assets/images/pexels-pixabay-372470_1.png');
  }

  .hero-banner__title {
    max-width: 440px;
    max-height: 200px;
    left: 20px;
    top: 90px;
    font-size: 40px;
    line-height: 50px;
  }

  .hero-banner__desc {
    max-width: 440px;
    max-height: 160px;
    left: 20px;
    top: 290px;
    font-size: 20px;
    line-height: 30px;
  }

  .rectangle-4 {
    width: 430px;
    height: 770px;
    left: 33%;
    top: -25px;
    transform: rotate(-6deg);
  }
}

@media only screen and (min-width: 900px) {
  .hero-banner {
    height: 670px;
  }

  .hero-banner__bkg-img {
    background-image: url('assets/images/V_redraw-without-bg-1_9.png');
  }

  .hero-banner__main-img {
    background-image: url('assets/images/pexels-pixabay-372470_big.jpg');
  }

  .hero-banner__title {
    max-width: 660px;
    height: 146px;
    left: 600px;
    top: 230px;
    font-size: 56px;
    line-height: 74px;
  }

  .hero-banner__desc {
    max-width: 660px;
    height: 59px;
    left: 600px;
    top: 455px;
    font-size: 34px;
    line-height: 59px;
  }


  .rectangle-4 {
    width: 1030px;
    height: 970px;
    left: 37%;
    top: -200px;
    transform: rotate(-15deg);
  }
}

