@use "variables" as variables;

@mixin flexContainer($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

$media_queries : (
  'mobile'    : unquote("only screen and (max-width: 540px)"),
  'tablet'    : unquote("only screen and (min-width: 541px) and (max-width: 1023px)"),
  'desktop'   : unquote("only screen and (min-width: 1024px)")
);

@mixin for_breakpoint($breakpoints) {
  $conditions : ();
  @each $breakpoint in $breakpoints {
    $conditions: append(
        $conditions,
        #{inspect(map-get($media_queries, $breakpoint))},
        comma
    );
  }

  @media #{$conditions} {
    @content;
  }

}
