@use "variables" as variables;
@use "extends";
@import "mixins";

.step-wrapper__progress-bar {
  height: 44px;
  width: 100%;
  padding: 0;
  margin: 30px 0;
  background-color: variables.$bkg-secondary;
  position: relative;
  @include flexContainer(row, flex-start, left);
}

.step-wrapper__progress-bar__step1 {
  border-bottom: 44px solid variables.$bkg-primary;
  border-right: 18px solid transparent;
  height: 0;
  width: 20%;
  color: variables.$text-tertiary;
}

.step-wrapper__progress-bar__step1:after {
  content: attr(data-text);
  position: absolute;
  width: 12px;
  height: 12px;
  left: 8%;
  top: 2%;
  font-family: variables.$font-secondary;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 38px;
  color: variables.$text-tertiary;
}

.step-wrapper__progress-bar__step2 {
  width: 20%;
  height: 44px;
  transform: skew(22deg);
  background-color: variables.$bkg-quinary;
}

.step-wrapper__progress-bar__step2:after {
  @extend .step-wrapper__progress-bar__step1, :after;
  left: 50%;
  border: none;
  color: variables.$text-primary;
}

.step-wrapper__progress-bar__step3 {
  @extend .step-wrapper__progress-bar__step2;
  margin: 0 8px;
}

.step-wrapper__progress-bar__step3:after {
  @extend .step-wrapper__progress-bar__step1, :after;
}

.step-wrapper__progress-bar__step4 {
  @extend .step-wrapper__progress-bar__step2;
}

.step-wrapper__progress-bar__step4:after {
  @extend .step-wrapper__progress-bar__step1, :after;
}

.step-wrapper__progress-bar__step5 {
  width: 20%;
  border-top: 44px solid variables.$bkg-quinary;
  border-left: 18px solid transparent;
  height: 0;
}

.step-wrapper__progress-bar__step5:after {
  @extend .step-wrapper__progress-bar__step1, :after;
  left: 90%;
  top: 2%;
  border: none;
  color: variables.$text-primary;
}

.active-step, .active-step:after {
  background-color: variables.$bkg-primary;
  color: variables.$text-tertiary;
}

.active-step5 {
  width: 20%;
  border-top: 44px solid variables.$bkg-primary;
  border-left: 18px solid transparent;
  height: 0;
}

.active-step5:after {
  @extend .step-wrapper__progress-bar__step1, :after;
  left: 90%;
  top: 2%;
  border: none;
}

.navigation-buttons {
  @include flexContainer(row, space-around, center);
  background-color: variables.$bkg-quinary;
  padding: 4% 0 8% 0;
}

@include for_breakpoint(desktop) {
  .step-wrapper__progress-bar__step1:after {
    content: attr(data-text-desktop);
    text-align: left;
    display: inline-block;
    left: 6%;
    top: 20%;
    width: 140px;
    font-family: variables.$font-secondary;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }

  .step-wrapper__progress-bar__step2:after {
    left: 25%;
  }

  .step-wrapper__progress-bar__step5:after, .active-step5:after {
    left: 85%;
  }
}

