$white-color: #FFFFFF;
$blue-color: #009CC4;
$grey-color: #4D4D4D;
$black-color: #181818;
$medium-grey-color: #808080;

$pt-serif-font: 'PT Serif', sans-serif;
$font-primary: 'PT Serif', sans-serif;
$font-secondary: 'Montserrat', sans-serif;

$bkg-primary: $blue-color;
$bkg-secondary: $white-color;
$bkg-tertiary: $grey-color;

$text-primary: $grey-color;
$text-secondary: $medium-grey-color;
$text-tertiary: $white-color;

$span-primary: $blue-color;

$link-primary: $white-color;
$link-secondary: $blue-color;
$link-tertiary: $grey-color;
